[2014-06-28 23:06] simonmorley opened #37 "Custom Metadata"
According to the help for the create server actions, we can add custom metadata to the servers.

I've tried this options:

[code]

[2014-06-29 08:56] romankor opened #38 "Failing to create a server with a custom image"
I am trying to create a server with a custom image i have created and it fails.

[code]

There is clearly an image called 'base-scraper' in the wondermall-dev projects.

![image](https://cloud.githubusercontent.com/assets/2689706/3422842/3d920d5a-ff6b-11e3-898d-39f14d078607.png)

[2014-07-14 13:35] #38 closed, assigned to nobody

[2014-07-15 13:48] romankor opened #39 "Password prompt each time I run 'knife google server create' or 'knife bootstrap' with GCE instances"
Hi

Each time I am creating a server with ```knife google server create ```  I am prompted for a password when the process tries ssh into the machine.
[code]

[2014-10-23 11:25] dpmitchell opened #40 "Knife google failing to setup"
Hi,

I've tried to install knife-google a few times and keep failing at the first hurdle.

Is there anything obvious here? I think this ties into the beta version of retriable.

My system is Darwin LONM1KWDKQ4L.local 12.5.0 Darwin Kernel Version 12.5.0: Sun Sep 29 13:33:47 PDT 2013; root:xnu-2050.48.12~1/RELEASE_X86_64 x86_64

Ruby is ruby 1.9.3p448 (2013-06-27 revision 41675) [x86_64-darwin12.5.0

[2014-12-12 16:12] Blasterdick opened #42 "For any command "ERROR: ArgumentError: unknown keyword: interval""
$ knife google -VV server list -Z europe-west1-b
/usr/local/rvm/gems/ruby-2.1.2/gems/google-api-client-0.7.1/lib/google/api_client.rb:595:in `execute!': unknown keyword: interval (ArgumentError)
	from /usr/local/rvm/gems/ruby-2.1.2/gems/google-api-client-0.7.1/lib/google/api_client.rb:330:in `discovery_document'
	from /usr/local/rvm/gems/ruby-2.1.2/gems/google-api-client-0.7.1/lib/google/api_clien

[2015-01-14 01:03] reprogrammer opened #43 "google-knife and knife dependency versions"
After I install google-knife, knife fails to run any commands, because of several gem conflict errors. What would you recommend to satisfy the dependency requirements of both knife and knife-google?

The following is a sequence of bash commands that reproduces the problem.

**`cat /etc/*-release`**
[code]
**`wget https://opscode-omnibus-packages.s3.amazonaws.com/el/6/x86_64/chefdk-0.3.5-1.x86_64.r

[2015-01-26 15:59] zenitraM opened #44 "knife-google fails with google-api-client >0.8"
[code]
Using chef-dk with latest knife-google gem. Downgrading to google-api-client 0.7.1 made everything work again..

[2015-01-26 16:35] erjohnso commented on #44
Thanks for the report @zenitraM and the workaround until this can get fixed.

[2015-02-02 23:42] Zhomart commented on #43
I could fix this by `$ chef gem update --no-ri --no-rdoc`

[2015-02-08 22:43] samklr commented on #44
Hi @zenitraM How do you downgrade to google-api-0.7.1 ? Thanks

[2015-02-08 23:04] zenitraM commented on #44
@samkir you can do something like:
[code]
and then choose to uninstall the newer version

[2015-02-24 00:35] paulrossman commented on #44
#51 compatible with latest 'google-api-client' that requires 'extlib'. Fixes 'snake_case'.

[2015-02-24 21:54] #44 closed

[2015-03-05 16:45] mansona opened #53 "Documentation for adding a tag to the server"
Hi Folks,

I've just spent a bit of time chasing my tail on how to use this plugin, I didn't see any configuration to setup tags.

One of my colleagues pointed me in the direction of this page: https://docs.chef.io/plugin_knife_google.html which had everything i needed! Any chance that you could either merge the Readme with this or point to it from the Readme?

Cheers

[2015-03-05 19:32] paulrossman commented on #53
Great suggestion. I'm about to submit another PR for an ssd boot disk
argument. I'll update the readme too.

On Thu, Mar 5, 2015 at 8:45 AM Chris Manson <notifications@github.com>
wrote:

[2015-03-11 21:41] SimonKaluza opened #55 "400 Error from Google During 'knife google setup'"
When I run the `knife google setup` command and proceed with the prompts, I am able to successfully enter and follow the steps until it asks to

 "Copy and paste the following url in your brower and allow access. Enter the resulting authorization code below."

At this point, I navigate to the URL, but Google gives me that broken down robot HTTP error page with a 400 status code that reads as follo

[2015-03-11 22:41] paulrossman commented on #55
Thanks for the report. I'm taking a look at this now.

[2015-03-11 22:45] paulrossman commented on #55
I'm not seeing a 400 and the command completes as expected.

[2015-03-12 03:13] SimonKaluza commented on #55
I wonder if it's a bug that's unique to my user ID or client ID.  Or perhaps it arose because I did it on a browser session that has multiple Google user sessions cached (though it allowed me to select the correct user ID before navigating to the 400 error)...  I will try again tomorrow on an incognito browsing session.

Does your authorization code URL include a query paramter like mine that says

[2015-03-17 00:20] paulrossman commented on #53
@mansona what configuration options specifically were you encountering problems with? Both seemed roughly the same. Thanks.

[2015-03-17 08:09] mansona commented on #53
Sorry maybe I wasn't completely clear on this. We needed to apply a tag to the server on build using this parameter: ```-T TAG1,TAG2,TAG3, --gce-tags TAG1,TAG2,TAG3```

My issue wasn't that there was anything wrong with this plugin but instead that these parameters were not documented at all on the Github Readme. Also there was no link in the readme to this page: https://docs.chef.io/plugin_knife_

[2015-03-18 03:53] paulrossman commented on #53
Ah, got it. Great suggestion. I agree, having two sets of documentation are confusing. There is a new gem that I've been trying out recently to help automate writing README.md. I'll take another look next week, possible use that other gem (can't remember the name of it right now) and attempt to combine the two readmes so this gets cleaned up.

[2015-03-25 06:18] adamedx opened #57 "knife-google master should be deployed to RubyGems"
@gmiranda23, can you update RubyGems with the latest version of this gem? Sync with @siddheshwar-more who is getting the specs green now.

[2015-03-25 19:24] gmiranda23 commented on #57
@adamedx can you grant me access to push that gem?  same handle as github.

[2015-03-27 01:16] sheldoan opened #59 "ERROR: Image 'ubuntu-1404-trusty-v20150316' not found"
I'm trying to use `knife google server create` to launch a new instance with image `ubuntu-1404-trusty-v20150316`, which is listed as a valid image by `gcloud`:

[code]

Is there any way to configure knife to have it look at the same list of images as gcloud?

[2015-03-27 03:06] paulrossman commented on #59
Hey @sheldoan, I became aware of this issue earlier this evening and will be looking into this tomorrow. Thanks for notifying us.

[2015-03-27 03:07] sheldoan commented on #59
Great thanks

[2015-03-27 07:57] hprashar commented on #55
Hitting the same issue while setting up google knife. Do we have any fix for this ?

400. That’s an error.

Error: redirect_uri_mismatch

The redirect URI in the request: urn:ietf:wg:oauth:2.0:oob did not match a registered redirect URI.

I see that when we create Client Id and Secret for Service Accounts there is no redirections URIs mentioned. So where can i change or edit these uris to make thi

[2015-03-27 13:29] paulrossman commented on #59
I updated knife-google to support ubuntu (and a number of other GCE provided os types). Please try v1.4.2. Cheers!

[2015-03-27 13:29] #59 closed

[2015-03-27 14:32] SimonKaluza commented on #55
Incase anyone is wondering, my workstation is running OSX 10.10 so the problem isn't relegated to Linux installs only.

[2015-03-27 17:08] mansona commented on #57
I would like to +1 this because we started getting a pretty horriffic error when trying to use the 1.3.1 version:

[code]

Note the line number on zone_operation is wrong because i added some logging. Data was missing a startTime so it was effectively this line that was dying: https://github.com/chef/knife-google/blob/master/lib/google/compute/zone_operation.rb#L42

[2015-03-27 19:19] ChadScott opened #61 "no implicit conversion of nil into String on knife google server create"
I've whacked at this issue for a couple hours now and I can't make sense of it. I'm guessing Google is returning a nil and we're trying to print it.

[code]

[2015-03-27 19:25] ChadScott commented on #61
I've noticed that `knife google server create` successfully creates the disk, as I see it in the console, but apparently bombs out somewhere between that and launching the VM itself.

[2015-03-27 19:27] ChadScott commented on #61
`@start_time = Time.parse( data["startTime"] )` appears to be the culprit but I haven't had time to dig deeper. I'm guessing `data["startTime"]` is `nil`.

[2015-03-27 21:54] paulrossman commented on #61
Thanks for digging into this. I'll make some time on Monday to take a look
too.

On Fri, Mar 27, 2015, 15:27 ChadScott <notifications@github.com> wrote:

[2015-03-27 22:29] paulrossman commented on #57
In the meantime and if you use bundler maybe pull from github?

On Fri, Mar 27, 2015, 13:08 Chris Manson <notifications@github.com> wrote:

[2015-03-27 23:12] sheldoan commented on #59
Works like a charm. Thanks!

On Fri, Mar 27, 2015 at 6:29 AM, Paul Rossman <notifications@github.com>
wrote:

[2015-03-30 20:43] ChadScott commented on #61
Alright, I'm at a loss. I've dug on this for a little bit and I don't know enough about the GCE API nor the internals of Knife to really be able to get to the bottom of it without going into a cave for awhile. Any luck on your end, @paulrossman?

[2015-03-30 20:44] ChadScott commented on #61
If it helps, here are the versions of the Google related gems:
[code]

[2015-04-03 17:50] mikedanese opened #62 "knife google server create is having an error boostraping"
This is with the knife-google gem built from master. The user has the ability to ssh but bootstrap is failing. Am I missing something?
[code]
but
[code]

[2015-04-06 15:32] erjohnso commented on #62
@mikedanese are you running `knife-google` from a GCE instance?  If so, then it looks like we might have a bug where `knife-google` is currently expecting to use just the public IP.  And since you're not creating a node with a public IP it's failing.

@paulrossman - assuming this is the case, do you have any cycles to track this down?

[2015-04-09 07:00] siddheshwar-more commented on #62
@mikedanese @erjohnso  We are also looking into this!

[2015-04-10 12:33] Vasu1105 commented on #62
@mikedanese  we resolved the issue in  https://github.com/chef/knife-google/pull/63 you can use this patch. We are working on specs for the change made.

[2015-04-13 09:49] NimishaS commented on #62
@mikedanese , the fix is merged in the master branch. Please use that.

[2015-04-13 14:28] mikedanese commented on #62
Awesome! I will test it today and close the issue. Thanks everyone.

[2015-04-13 17:50] mikedanese commented on #62
Works! Thanks again!

[2015-04-13 17:50] #62 closed

[2015-04-13 19:28] paulrossman commented on #61
Sorry for the late reply. I've not run in to this issue at all and have been building lots of instances recently.

My suggestion is to update to knife-google 1.4.x. There were a bunch of gemspec changes in #54. I currently have these gem versions installed:

chef (12.2.1)
google-api-client (0.8.5)
googleauth (0.4.0)
knife-google (1.4.3 5a4ccf4)

[2015-04-13 19:28] #61 closed

[2015-04-13 21:20] paulrossman commented on #40
Closing this issue due to age. If the issue still persists, please open a new issue with details.

[2015-04-13 21:20] #40 closed

[2015-04-13 21:21] paulrossman commented on #42
Closing this issue due to age. If the issue still persists, please open a new issue with details.

[2015-04-13 21:21] #42 closed

[2015-04-13 21:26] paulrossman commented on #43
My suggestion is to update to knife-google 1.4.x. There were a bunch of dependency changes in #54.

Closing this issue due to age. If the issue still persists, please open a new issue with details.

[2015-04-13 21:26] #43 closed

[2015-04-13 21:28] paulrossman commented on #39
Closing this issue due to age. If the issue still persists, please open a new issue with details.

[2015-04-13 21:28] #39 closed

[2015-04-16 23:34] ChadScott commented on #61
After upgrading to knife-google 1.4.3 (which isn't in the gem repo, by the way... I had to pull it down from Github and manually install it), I get yet another error:
[code]

I thought at first it must be something in my SSL stack, but it works fine for ec2:
[code]
...etc

[2015-04-17 06:13] ChadScott commented on #61
Okay, I _finally_ figured this out. For this that find this via googling or whatever, this is a problem with chefdk on MacOS. I'm unsure exactly what the issue is, but this solves it for me:

Install brew (brew.sh)
brew install ruby
gem install chef
<download knife-google from this repo>
rake
gem install pkg/knife-google-1.4.3.gem
knife google zone list

Voila!

[2015-05-21 22:54] nckturner opened #65 "Dependency conflict building from master"
Fresh install of chefdk on ubuntu 14.04 gives me this error:

[code]

Thanks for any help you can provide!

[2015-06-30 00:45] mattse opened #67 "`--bootstrap-version` flag isn't working"
I'm using this knife plugin to set up GCE servers using chef.  I require that a specific version (12.3.0) of chef-client is installed on the server nodes, because the latest version (12.4.0) breaks my cookbooks.  So I attempted to add the `--bootstrap-version 12.3.0` flag to the `knife google server create` command, but it doesn't work.  The latest chef-client version (12.4.0) gets installed regar

[2015-07-23 06:15] siddheshwar-more commented on #67
@mattse
We are looking into this, sorry for delay was busy with releasing stuff !
Is this issue still there for you?

[2015-07-23 11:11] Vasu1105 commented on #67
@mattse We are able to reproduce the issue. It's not working for command line option but its working if you set this option in knife configuration file i.e. knife.rb, so use configuration file till we fix this issue for command line.

Thanks.

[2015-07-28 22:23] mattse opened #71 "knife google hides quota errors from GCE"
I've been using knife-google for months without error, and today I ran into a strange bug.  I had always been able to do things like `bundle exec knife google server create SERVER_NAME ...`.  But today, I got an error after running that command.

[code]

I looked through knife-google's readme, and I was led to the suggestion that I typed in the incorrect "Project ID", or used the "Project ID Numbe

[2015-08-04 13:18] NimishaS commented on #67
@mattse , fix has been merged in master branch. Please verify.

[2015-08-12 20:17] mattse commented on #67
@NimishaS I just tested this against master of this repo and it works!  Thanks so much for fixing that.

Are there any plans to do version releases of knife-google?  I see the last version released was 1.3.1 on 4/28/2014.  I'd like to lock down which version of knife-google I'm using, rather than just going off master.

[2015-08-17 15:26] Blasterdick opened #72 "Creating a preemptible instance flag feature"
It would be great to have an ability to create preemptible instances via knife google. I'm not a programmer, so it's like "feature-request" or so)))

[2015-08-18 13:30] yonah-codefresh commented on #65
+1

[2015-08-18 21:15] yonah-codefresh commented on #65
I got past this by upgrading chef-dk from 0.6.2 to 0.7.0 and uninstalling knife-windows
fyi

[2015-08-19 01:31] siddheshwar-more commented on #65
@nckturner @yonah-codefresh
We are looking into this!

[2015-08-19 02:07] siddheshwar-more commented on #65
@nckturner
The `logging` gem conflict for `winrm` gem is due to https://github.com/WinRb/WinRM/blob/v1.3.3/winrm.gemspec#L34

Workaround for now is -

Open below file -
`sudo vim /opt/chefdk/embedded/lib/ruby/gems/2.1.0/specifications/winrm-1.3.3.gemspec`

and replace all references of `s.add_dependency(%q<logging>, [">= 1.6.1","~>1.6"])` by  `s.add_dependency(%q<logging>, [">= 1.6.1"])`

We will

[2015-08-20 04:35] yonah-codefresh opened #73 "Feature Request: lists for additional assets"
Would be nice to have a way to list additional assets, specifically:
* Images
* Machine types
* Networks
* Static IP addresses

[2015-08-20 17:14] nckturner commented on #65
Thanks I'll try it out

[2015-08-21 15:04] siddheshwar-more commented on #65
@nckturner -
FYI-
I've created issue at WinRM gem - https://github.com/WinRb/WinRM/issues/147

Thank you for reporting this!

[2015-08-24 08:32] yonah-codefresh opened #74 "knife-google not setting custom metadata"
Suddenly knife-google is not setting the custom metadata on created instances.
It might be related to a recent update of the gcloud SDK, though I'm not sure.
Adding verbosity (-VVV) to the process doesn't seem to give any interesting clues.
Creating the instance via native gcloud command works.

[2015-08-25 10:06] Aliasgar16 commented on #74
Could you please provide the knife-google version number from which you are trying the operation.

[2015-08-25 10:07] Aliasgar16 commented on #37
Could you please provide the knife-google version number from which you are trying the operation.

[2015-08-28 08:46] Aliasgar16 commented on #37
Hi @simonmorley

We tested the --gce-metadata option by providing a URL for a sample starter-script and it's working fine. All key-value pairs passed through --gce-metadata option gets added under custom metadata section of the particular VM. Script may fail due to following reasons:
1. Script is inaccessible.
2. Script is itself failing.

If you are putting your starter-script at Google Cloud Sto

[2015-08-28 08:48] Aliasgar16 commented on #74
Hi @yonah-codefresh

Can you please refer https://github.com/chef/knife-google/issues/37

Thanks

[2015-08-28 14:07] mattray opened #75 "google-api-client dependency is about to break APIs"
According to the documentation on the google-api-client Gem page on GitHub, they're about to introduce breaking changes with the upcoming 0.9 release. We should either pin our dependency or start working with the 0.9 release candidates before the plugin is broken.
https://github.com/google/google-api-ruby-client/blob/master/MIGRATING.md

[2015-09-01 00:14] siddheshwar-more commented on #75
@mattray
Yeah, we will take care of this. Thank you for pointing this.

[2015-09-01 06:49] NimishaS commented on #74
@yonah-codefresh , can you please verify if the issue still persists for you.

[2015-09-01 10:21] yonah-codefresh commented on #74
re: https://github.com/chef/knife-google/issues/37

I've updated gcloud and the problem seems to be resolved

[2015-09-01 10:21] #74 closed

[2015-09-01 10:22] NimishaS commented on #74
Thanks @yonah-codefresh

[2015-09-01 10:23] NimishaS commented on #37
This has been resolved as a part of https://github.com/chef/knife-google/issues/74. Issues doesn't seem to persist.

[2015-09-01 10:23] #37 closed

[2015-10-13 16:23] jameshcoppens commented on #61
I am still getting this error as well.  I'm not really interested in building my own gem.  I'll see if I can resolve for knife-google 1.3.1

[2015-10-13 21:29] jameshcoppens commented on #61
So, I figured out the issue with a small code change.

Chad, you were absolutely right.  The code line

@start_time = Time.parse( data["startTime"] )

was the culprit.

The reason why when you build the 1.4.3 gem it works is in that version there is a null check on the variable.  I think that the new gem version should be built and distributed.  I simply changed the following lines in my lib/googl

[2015-10-29 22:36] #67 closed

[2015-10-29 22:59] mattse opened #79 "GCP Service Accounts"
Is there any plan to allow [service account](https://cloud.google.com/storage/docs/authentication?hl=en#service_accounts) authentication for knife-google?  The current implementation of using OAuth 2.0 Client ID's doesn't work for us because on a shared server, it would require knife-google to be authenticated using someone's @google.com email address.  Service accounts are designed specifically t

[2015-11-06 21:44] jameshcoppens opened #81 "Spinning up a GCP instance from an EC2 instance results in an error"
Whenever I issue the following command to try and create a GCP instance

knife google server create test-01-production-chs -m n1-standard-2 -I ubuntu-1404-trusty-v20150909a  --gce-image-project-id ubuntu-os-cloud -n um-subnet-chs-1b-public-admin -N 01.test.production.chs -E production -Z us-east1-b --gce-boot-disk-size 40G -i ec2_keys/um_vn_key_chs.pem -x ubuntu --gce-server-connect-ip PUBLIC -VV

[2015-11-11 21:42] mattse commented on #79
I've actually decided to just write a wrapper script that stitches `gcloud compute instances create` with `knife bootstrap` to achieve the same effect, allowing service account use.  So this issue is no longer needed by me.

[2015-11-11 21:42] #79 closed

[2015-11-17 12:09] SinisterLight opened #82 "Error in metadata parsing while creating a compute instance"
I am trying to create a new instance, and passing sshKeys as metadata.
My ssh public key has "=" a character, due to which metadata was not getting updated properly

[code]

But when instance is getting created it has
[code]
as ssh key and drops **"== me@example"** at the end

[2015-11-17 12:10] #82 closed

[2015-12-11 02:11] bighoax opened #84 "Can't execute any command with knife"
I've installed chef dk and then I did a bundle `gem install knife-google` inside my `chef-repo` folder which I downloaded and unpacked from my chef server starter kit.

I've started with this command :
[code]

And I followed the input necessary including client id/secret etc. And I wanted to test if this is working by just trying to list the zones like this :

[code]

And I get this error:

[code]

[2015-12-14 12:07] Vasu1105 commented on #84
@bighoax , we have been able to reproduce this issue. Working on this.

[2015-12-14 17:50] bighoax commented on #84
@Vasu1105 thanks, please let me know if I can do something.

[2015-12-14 21:22] mansona commented on #57
I've just come across this same error again :sob: completely forgot that I posted here in March!!

I was going to respond this back then but I got off the case, I'm not a rubyist so I don't know what `use bundler maybe pull from github` means. Can you elaborate?

Also has there been any progress on this issue?

[2015-12-14 23:04] jameshcoppens commented on #81
I figured out what the issue is.  I had to create an empty runlist for the the plugin to work

I had to append
-r ''
to the end of my string in order for it to work correctly.

Interesting issue that seems like it should have been solved already.

[2015-12-14 23:04] #81 closed

[2015-12-16 16:22] ohadpartuck commented on #61
I have tried that in both global_operation.rb and zone_operation.rb and it doesn't seem to work.
Is there a way to run this with a stack trace?
tried:
`knife google --verbose zone list`

[2015-12-16 16:28] ohadpartuck commented on #61
Is there another gem that does that?

[2015-12-16 16:29] jameshcoppens commented on #61
ohadpartuck,

I've used -VV on the end of the string.  Can you output what you see when you run the command.  This plugin is really important especially if you are negotiating with Amazon about your monthly AWS bill.

knige google zone list -VV

[2015-12-17 01:26] c0mrade opened #86 "Server create command returns error"
I had the exact same issue as described in https://github.com/chef/knife-google/issues/84

Took the solution that was provided by developer and applied it to my own fork of this repo. This enabled me to perform other commands which I wasn't able before like listing zones etc.

So I tried to provision an instance, this is command execution and the relevant log part (removed bunch of dots):

[code]

[2015-12-17 07:35] ohadpartuck commented on #61
ok , that helped , I tracked the issue to
`signet-0.7.0/lib/signet/oauth_2/client.rb:1182   -> normalize_timestamp`
it reading `"2015-12-16 17:20:39 +0200"` from my oauth file `.google-compute.json`
and doing
Time.parse("2015-12-16 17:20:39 +0200")
It failed for `no implicit conversion of Time into String (TypeError)`

weirdly, I ran it in the console and it works:
[code]

[2015-12-17 07:56] ohadpartuck commented on #61
@sqrrrl maybe you can take a look?

[2015-12-17 09:26] NimishaS commented on #86
@c0mrade , we tried with the patch https://github.com/chef/knife-google/pull/85 but didn't run into any issue while server creation. Please verify the following things:
1. Is your `ssh` key added on the Google compute portal? You can also pass `ssh` key with `-i` option
2. Did u build the gem with the fix on your local machine and then installed it?

[2015-12-17 15:12] c0mrade commented on #86
Hi NimishaS

1. I have no problems with creating instances using `gloud compute` command. And I don't mind doing it with that command really, just wanted to bring that up in case that is important for you (it's not for me).
2.  Yes I've applied the fix from #85 locally on my forked copy and I've built the gem and installed it

[2015-12-17 18:49] sqrrrl commented on #61
Argh. Yes, there was a stupid bug introduced in 0.7. Just pushed 0.7.1 which should fix the issue.

Please update and let me know.

[2015-12-19 03:47] c0mrade commented on #86
@Hi NimishaS this is a problem with chef server version `12.5.1` it's been fixed in master and will probably be in the next release, in the meantime I changed my locally installed chef gem.

Line https://github.com/chef/chef/blob/12.5.1/lib/chef/knife/bootstrap.rb#L425 and so when I change this line to :

[code]

[2015-12-20 14:15] ohadpartuck commented on #61
@sqrrrl  I don't see 0.7.1 neither here
https://rubygems.org/gems/signet/versions/0.7.0
or here
https://github.com/google/signet/releases
can you send a link

[2015-12-20 15:23] ohadpartuck commented on #61
nvm , found it here
https://rubygems.org/gems/signet/versions/0.7.1

[2016-01-06 18:18] vaibhavswarnkar opened #87 "knife google command not working"
I'm using windows and I'm receiving following error on running any command of knife google

ERROR: knife encountered an unexpected error
This may be a bug in the 'google server create' knife command or plugin
Please collect the output of this command with the `-VV` option before filing a bug report.
Exception: NoMethodError: undefined method `snake_case' for "Zone":String

Also when I try to check

[2016-01-07 05:34] NimishaS commented on #87
@vaibhavswarnkar , please share the commands that you tried along with the output.

[2016-01-07 09:25] vaibhavswarnkar commented on #87
For checking the list of commands available, following is the output

C:\Users\Ghost>knife google
FATAL: Cannot find subcommand for: 'google'
Available google subcommands: (for details, knife SUB-COMMAND --help)

** GOOGLE COMMANDS **
knife google disk create NAME --gce-disk-size N -Z ZONE (options)
knife google disk delete NAME -Z ZONE (options)
knife google disk list -Z ZONE (options)
knife goog

[2016-01-09 06:23] vaibhavswarnkar commented on #87
Does anyone have solution for this.....??

[2016-01-11 06:39] Vasu1105 commented on #87
@vaibhavswarnkar : I am getting this issue with released version 1.3.1. It does not exist with master branch.

[2016-01-11 07:53] Vasu1105 commented on #87
@vaibhavswarnkar  I confirmed with windows too it exist on released version 1.3.1. It does not exist on master branch. You can use master. Please note #88

[2016-01-11 17:25] jameshcoppens opened #89 "New Functionality: knife-google unable to spinup servers in subnets"
I'm not sure if everyone is aware or not but google has beta'd the release of subnets in virtual networks.  The current version of this gem that I build (2.0.0) doesn't account for spin up in subnets.  I'd like to start the development on getting the ability to spinup servers in subnets going.  Can anyone help in the process of doing this?

[2016-01-15 18:36] l337ch opened #91 "rake install does not work"
I am attempting to install knife-google-2.0.0 via rake install but I am getting the error
[code]

I looks like a issue with rake::install not containg the `gem` extension.
[code]

[2016-02-08 05:27] vjdhama commented on #89
Also waiting for it. :+1:

[2016-02-10 21:05] l337ch commented on #91
fixed in PR 92

[2016-02-10 21:05] #91 closed

[2016-03-01 15:25] adamleff opened #95 "Support the use of service account scope aliases"
As suggested by @erjohnso, we should support the service account scope aliases that can be found in the `gcloud compute instances create --help` documentation.

[2016-03-01 15:27] adamleff opened #96 "Support an alias for latest public image"
It would be super-handy if a user could specify "centos" and automatically get the latest CentOS image from the centos-cloud project. Supporting the known public image projects in this manner would make for a better user experience.

[2016-03-01 15:30] erjohnso commented on #96
Ah cool, thanks Adam! Since you're willing to bring knife close to parity with gcloud for scope aliases, you could do the same thing for image names.

[code]

[2016-03-01 15:31] adamleff commented on #96
Yup - that's the intended outcome of this issue :)

[2016-03-01 16:08] adamleff opened #97 "Create an "image list" command"
New command `knife google image list` should list the images available in the currently-configured project, and then the most recent project for each of the known public image projects and image aliases (i.e. the latest centos-6 image, centos-7 image, etc).

[2016-03-03 16:43] adamleff commented on #95
Addressing this in #99

[2016-03-03 16:43] #95 closed

[2016-03-03 17:16] erjohnso opened #100 "Set application_name and application_version"
Sorry I missed this in the initial review.

Similar to the comment/request for kitchen-google, let's set the application_name to `knife-google` and pick up the version to set for application_version.  The old version used this value, so let's carry this forward with the re-write.

Looks like the change needs to happen here: https://github.com/chef/knife-google/blob/1a1a61a05959d13d57d43880be5e0025

[2016-03-03 17:16] adamleff commented on #100
Totally reasonable, I'll take care of this.

[2016-03-03 17:17] erjohnso commented on #100
Thanks Adam!

[2016-03-03 17:46] adamleff commented on #100
PR #101 opened for this.

[2016-03-03 17:46] #100 closed

[2016-03-07 13:54] jameshcoppens commented on #89
As soon as I figure out this friggin rspec problem so my builds won't fail I'll try and send a pull request to Nimisah.  Sorry VJ, hold on for one more day bru.

[2016-03-07 16:08] adamleff commented on #89
@jameshcoppens this gem just got a recent rewrite to switch from using Fog to Google's google-api-client. It shouldn't be too hard to add subnet support as the NetworkInterface class supports it:

https://github.com/google/google-api-ruby-client/blob/master/generated/google/apis/compute_v1/classes.rb#L5233-L5244

[2016-03-07 16:34] jameshcoppens commented on #89
<dr dre voice> Oh hell yeah </dr dre voice>

[2016-03-07 16:35] jameshcoppens commented on #89
oh hell yeah!

[2016-03-11 19:42] adamleff commented on #55
Hello! With the recent release of knife-google v2.0.0, this should no longer be an issue. We now use the Google Cloud SDK credential files rather than the knife plugin performing its own setup.

[2016-03-11 19:42] #55 closed

[2016-03-11 19:43] adamleff commented on #53
Hello! I'm going to close out this issue. `--gce-tags` is documented in both the README and the `--help` output. Thank you!

[2016-03-11 19:43] #53 closed

[2016-03-11 19:44] adamleff commented on #57
Closing this out. `knife-google` is on Rubygems, and the recent work has been released as v2.1.0.

[2016-03-11 19:44] #57 closed

[2016-03-11 19:45] adamleff commented on #65
Closing out this old issue. This should no longer be an issue with newer winrm, google-api-client, and googleauth gems. Thanks!

[2016-03-11 19:45] #65 closed

[2016-03-11 19:46] adamleff commented on #71
In the latest release of knife-google (v2.1.0), we work directly with the operation object which would be used to surface this issue. Any errors encountered when trying to perform an operation on GCE will be surfaced.

[2016-03-11 19:46] #71 closed

[2016-03-11 19:48] adamleff commented on #72
Thanks for your suggestion, and our apologies for the tardiness in our reply. I will implement this (we have the same functionality in [kitchen-google](https://github.com/test-kitchen/kitchen-google) so it's totally reasonable to have it in this knife plugin, too. :)

[2016-03-11 19:51] adamleff commented on #73
@yonah-codefresh thanks for your suggestion. I'm not sure if we will implement these features since it's incredibly easy to list the same information using the Google Cloud SDK (`gcloud compute machine-types list`, for example), and we now use the Google Cloud SDK credentials in knife to authenticate you as a GCP user, so there's no benefit to having this information in knife.

However, if you'd l

[2016-03-11 19:51] #73 closed

[2016-03-11 19:51] adamleff commented on #75
Closing this old issue. `knife-google` now uses the 0.9 release of google-api-client.

[2016-03-11 19:51] #75 closed

[2016-03-11 19:52] adamleff commented on #84
Closing this older issue. knife-google v2.1.0 has been released which uses the newer google-api-client and also uses the Google Cloud SDK credentials file, eliminating the need to do a `knife google setup` as was once required.

@bighoax please give the latest knife-google a shot and reopen this issue if you still have difficulty running these knife commands. Thanks!

[2016-03-11 19:52] #84 closed

[2016-03-11 19:54] adamleff commented on #86
Closing old issue - this has been fixed in recent chef and knife-google releases. Please reopen this issue if you still experience this problem. Our apologies for the delay in any response.

[2016-03-11 19:54] #86 closed

[2016-03-11 19:54] adamleff commented on #87
Closing old issue - this should not be an issue in the latest release (v2.1.0). Thanks!

[2016-03-11 19:54] #87 closed

[2016-03-11 21:02] adamleff commented on #72
PR #102 opened to add this feature.

[2016-03-11 22:03] adamleff commented on #89
PR #103 has been opened for subnet support

[2016-03-12 14:16] jameshcoppens commented on #89
Hey Adam,
Can I tackle this one?  I've got some spare cycles next week.

[2016-03-12 14:48] jameshcoppens commented on #89
Ahh man, it looks like you already tacked the code for it.

[2016-03-12 16:33] adamleff commented on #89
Yeah, sorry. I did it for this and kitchen-google at the same time.

[2016-03-15 00:02] #72 closed

[2016-03-15 16:49] jameshcoppens commented on #89
What other PRs can I jump on for knife-google?
Jimmy

[2016-03-15 16:51] adamleff commented on #89
If you'd like to try your hand at a PR for #97, please feel free. I've already started on a PR for #96, and those are the only two remaining issues in the repo currently.

[2016-03-15 17:31] jameshcoppens commented on #97
Can you give me until Thursday to figure this one out?

[2016-03-15 17:31] adamleff commented on #97
There's no rush. :) I won't touch it.

[2016-03-15 17:33] #89 closed

[2016-03-17 21:28] #96 closed

[2016-04-05 00:27] majuscule opened #105 "support multiple --local-ssd interfaces"
Such as

[code]

[2016-04-18 14:52] adamleff commented on #105
Hi, @majuscule! There are currently no plans for us to add this in, but pull requests are certainly welcome! I will leave this issue open in case you or someone else wishes to contribute this feature to knife-google.

Thanks!
~Adam

[2016-05-10 21:49] kidlab opened #107 "Google::Apis::ClientError"
I am using `knife-google-2.2.0` gem, looks like some commands do not work anymore, such as `google server list`:
[code]

Output:
[code]

[2016-05-11 12:15] dheerajd-msys commented on #107
@kidlab ,
I am able to run this command successfully. How do you provide the `google-compute.json` file to your command?
You may need to set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable with the full path to that file.

Also check if project is created and you have permission to access it.

[2016-05-31 18:49] cblecker opened #108 "No support for GCE image family"
When provisioning a new server, you have to specify the full image name, rather than specifying the image family and letting GCE select the most up to date image from that family.

[2016-06-01 02:50] adamleff commented on #108
Hi, @cblecker.

In the README:

[code]

The key item there is this:

You should be able to supply `--gce-image centos-7` and get the latest centos-7 image that is available. I just tested this as follows:

[code]

Hope that helps. Please let us know.

~Adam

[2016-06-01 19:27] cblecker commented on #108
Hi @adamleff,
It seems like some versions work with the [static aliases from the gcloud tool](https://cloud.google.com/sdk/gcloud/reference/compute/instances/create) that way (Centos 7 like your test, and Ubuntu 14.04), but other versions to not (Ubuntu 16.04, for example). The main GCE documentation also doesn't suggest using those aliases, it exclusively refers to the image-family option both [h

[2016-06-01 19:41] adamleff commented on #108
I'm just guessing, but the image families look an awful lot like the existing image aliases. :) I bet they shifted the logic from each client needing to grab images from a project and make the determination on what the latest is and instead now offer the "image family" as a way of doing that server-side.

The Google API does indeed support image family:

https://github.com/google/google-api-ruby-c

[2016-06-03 11:15] abhishekkr commented on #107
My `knife-google-2.2.0` also suddenly started failing for a command that was working for long.
I've gce utils working, so no issues with credentials. This same setup was working till few weeks back.
Defaults for Project, Zone for Googel Cloud are all correct.

When I tried tracking source of `raise`, it happens in `knife-google-2.2.0/lib/chef/knife/cloud/google_service.rb` in method `check_api_cal

[2016-06-08 16:33] jameshcoppens commented on #89
Hey @adamleff
Can I still jump on this PR?  I'm sorry I had to address some other dev concerns.
Jimmmy

[2016-06-09 13:50] adamleff commented on #89
This issue (#89) and the PR that addressed it (#103) are already done. If you're talking about #97 then feel free.

[2016-06-10 14:45] jameshcoppens commented on #97
@adamleff
Hey Adam, I'm sorry but I got bogged down with some other things.  Can I still tackle this one?

You know I worked with you at WebMD about 5 years ago, right?
Jimmy

[2016-06-10 14:46] jameshcoppens commented on #89
Yeah, I'm talking about #97.

Cool thank you sir.

[2016-06-13 12:23] dheerajd-msys commented on #107
@abhishekkr ,
I checked all possible values and command run fine for me. Machine is being created of type `n1-standard-1`
Could you please share all the actual values used in your command instead of variables ? So that I can verify.

[2016-06-13 18:14] abhishekkr commented on #107
@dheerajd-msys my bad, should have updated here... was reviewing my profile funcs, it was an assignment issue due to bad refactoring

[2016-06-14 06:18] NimishaS commented on #107
@kidlab , @abhishekkr, Can you please close this if it's not an issue?

[2016-06-14 13:11] abhishekkr commented on #107
@NimishaS I can't close the ticket because I didn't open it. Permissions are not such.

[2016-06-14 19:25] adamleff commented on #107
I will go ahead and close this ticket now as this does not appear to be an issue with knife-google. Thanks!

[2016-06-14 19:25] #107 closed

[2016-07-15 16:43] jjasghar commented on #97
@jameshcoppens i'd love to see this get done. I started to poke around with this, and found it odd that i couldn't list out the images.

If you'd like to post a PR, I'd be more then willing to CR it and test it out.

[2016-08-04 23:20] illfelder commented on #108
/cc @erjohnso

[2016-08-08 14:10] erjohnso commented on #108
/cc @nelsonjr - a bit out of scope for current project, but probably not hard to pick up.

[2016-08-08 20:21] nelsonjr commented on #108
I can look into that. Can you assign it to me?

[2016-08-08 21:00] erjohnso commented on #108
@adamleff - I don't see @nelsonjr in the list. Can we get him added to our team?

[2016-08-08 21:45] adamleff commented on #108
@erjohnso done! Invite sent. :)

[2016-08-08 22:35] erjohnso commented on #108
Thanks @adamleff!

[2016-08-09 01:28] nelsonjr commented on #108
https://github.com/chef/knife-google/pull/109

[2016-08-09 02:14] nelsonjr commented on #108
Hi! It seems that the build job in PR https://github.com/chef/knife-google/pull/109 failed while installing gems, so allegedly unrelated to my changes. But I do not have the privileges to restart the job. Can someone with power to do so trigger it so we can be on the safe side? Thanks!

[2016-08-09 04:38] jamesc commented on #108
@nelsonjr I just restarted the travis job.

[2016-08-24 03:01] cblecker commented on #108
Thanks for the fix, @nelsonjr!

@adamleff: I opened #110 to version bump the gem so that this change can take effect, and fix Travis that was failing due to a deprecated Ruby version. Mind having a look when you get a chance? Thanks!

[2016-08-24 22:07] jjasghar commented on #108
@cblecker I'll take this and get this resolved ASAP.

[2016-09-01 23:54] cblecker commented on #108
Hey @jjasghar --
Any update on this? :)

[2016-09-01 23:57] jjasghar commented on #108
Been traveling for the past couple weeks, i should be doing some engineering time here starting after labor day. Updates when i get them.

[2016-09-02 00:00] cblecker commented on #108
Sounds great. Thanks for the update!

[2016-09-27 18:26] cblecker commented on #108
Hi @jjasghar --
Any update on this and #110 ?

[2016-09-27 18:27] jjasghar commented on #108
Wow, this slipped through the cracks. I'll take some time ASAP and validate and merge, and release ASAP. Sorry about that.

[2016-09-27 19:13] cblecker commented on #108
Thanks for the merge, @jjasghar! The build is still failing, but I think that's because #111 needs a merge too (but needs merge conflicts resolved -- didn't notice that @tas50 had put that in 4d ago, or I would have just removed my attempts to fix Travis from the PR).

[2016-09-27 19:20] chefdemo1 commented on #108
Crap missed that. I'll get it fixed and push up another patch release.

[2016-09-27 19:23] jjasghar commented on #108
Heh, oops, that was me ^^

[2016-11-23 00:59] nikolaybotevsc opened #116 "knife server create fails if no --gce-public-ip option is supplied"
⚡ ~$ which knife
/Users/nikolay.botev/.rvm/gems/ruby-2.3.3@chef/bin/knife
⚡ ~$ ruby --version
ruby 2.3.3p222 (2016-11-21 revision 56859) [x86_64-darwin16]
⚡ ~$ knife --version
Chef: 12.16.42

⚡ ~$ knife google     server create       $hostname             -Z $zone         -i ~/.ssh/google_compute_engine     [... other arguments ...]  --gce-service-account-scopes 'https://www.googleapis.com/auth/de

[2016-11-23 01:09] nikolaybotevsc commented on #116
⚡ ~$ gem list knife-google

*** LOCAL GEMS ***

knife-google (3.1.0)

[2016-12-02 19:33] qorpus commented on #116
yep I get the exact same issue

`dave@laptop:~/dev$ knife google server create davetest --gce-boot-disk-ssd --gce-boot-disk-size 200 --gce-image ubuntu-1604-xenial-v20161130 --gce-project rato-145318 --gce-zone us-west1-a --gce-machine-type n1-standard-1 --ssh-user dave --identity-file ~/.ssh/id_rsa
WARNING: No knife configuration file found
ERROR: RuntimeError: can't modify frozen String
`
then i

[2017-02-14 22:48] smford22 opened #118 "Can't Modify Frozen String"
# Version:

[code]

# Environment: [Details about the environment such as the Operating System, cookbook details, etc...]

Windows 7 Enterprise
ChefDK 1.1.16

# Scenario:

[code]
# Steps to Reproduce:

Run the above command

# Expected Result:

A server should be created

# Actual Result:

Output shows an error `can't modify frozen string`

Running with `-VV` shows an error on `../knife-google-3.1

[2017-02-17 21:42] jjasghar commented on #118
https://github.com/chef/knife-google/pull/119 This fixes this issue.

[2017-02-17 22:39] #118 closed

[2017-04-14 13:10] wallydrag opened #120 "how do i mount a disk on an instance which i am creating"
# Version:
:ref => "800f000262f71a28e588308be4279a0c4140bca2"

# Environment:
on mac OS sierra

# Scenario:
I am trying to create instance with a separate partition with a disk mounted on top of it. I am able to create instances with just boot disk otherwise

[2017-08-29 17:00] kadamwolfe opened #123 "not honoring "--node-ssl-verify-mode none""
# Version:

knife-google (3.1.1)

# Environment:
Chef Development Kit Version: 1.6.1
chef-client version: 12.21.4
delivery version: master (73ebb72a6c42b3d2ff5370c476be800fee7e5427)
berks version: 5.6.4
kitchen version: 1.16.0
inspec version: 1.25.1
Linux Mint 18.2

# Scenario:
when trying to create a server in GCE and have it bootstrapped, the bootstrapping process fails at the chef-server's SSL

[2017-09-29 23:39] erictchiu opened #124 "Dependency Conflict on MacOS"
# Version:

knife-google 1.3.1

$ chef -v
Chef Development Kit Version: 2.3.4
chef-client version: 13.4.24
delivery version: master (73ebb72a6c42b3d2ff5370c476be800fee7e5427)
berks version: 6.3.1
kitchen version: 1.18.0
inspec version: 1.40.0

# Environment:
MacOS X 10.9.3

# Scenario:

Installing from ChefDK, install is successful but dependency prevents knife from executing.
$ chef gem install k

[2018-03-14 10:11] mmcloud opened #126 "server create bug"
# Version:
knife-google (3.2.0)

# Environment:
Centos-7
# Scenario:
Create multiple servers and bootstrap it using knife-google.
[code]

# Steps to Reproduce:

Create a workstation within google cloud.
Configure according to knife-google documentation
Run:
[code]
Then Repeat for another server:
[code]

# Expected Result:

Two servers are created and bootstrapped.

# Actual Result:
[code]

# How t

[2018-04-17 03:29] darkn3rd opened #127 "Unresolved Dependency Causes StackTrace"
# Version:

* `knife-google (3.2.0)`
* `google-cloud-sdk: 197.0.0-0`
* Ubuntu 16.04 Xenial
* ChefDK
[code]

# Scenario:

I am trying to install and use knife google, just list servers.

# Steps to Reproduce:

1. `chef gem install knife-google`
2. `knife google server list`

# Expected Result:

List of servers, Not Crashing

# Actual Result:

Crashing, stack trace.  Looks like unresolved dependency

[2018-04-17 03:49] darkn3rd commented on #127
Workaround, downloaded and installed ChefDK 2.5.3, which installs ` google-api-client 0.9.28`  Recommend installing required gems (avoid works on my laptop situation).

[2018-04-17 03:52] darkn3rd commented on #124
ChefDK uses an older version of `google-api-client`, and `knife-google` doesn't require needed gem version, only tries to activate what's there even if not installed.

You can workaround this by installing ChefDK 2.5.3, or `chef gem install -v 0.9.28`.

[2018-04-17 04:57] darkn3rd opened #128 "Doesn't Detect Default Project"
# Version:

* knife-google (3.2.0)
* chefdk 2.5.3

# Scenario:

Utilize knife-google with my default configured project.

# Steps to Reproduce:

1. `sudo dpkg -i ${HOME}/Downloads/chefdk_2.5.3-1_amd64.deb`
2. `chef exec gem install knife-google`
3. `knife google server list --gce-zone us-east1-c`

# Expected Result:

Get list of systems in default project.  Expected that tooling could read local c

[2018-04-18 20:02] darkn3rd opened #129 "Need to Enter Zone to View Zones"
# Version:

```knife-google (3.2.0)```

# Environment:

```Chef Development Kit Version: 2.5.3```
Ubuntu 16.04

# Scenario:

In order to view zones, you must enter your zone.  That sort of defeats the purpose of viewing all zones.

# Steps to Reproduce:

1. `knife google zone list --gce-project ${GCP_PROJECT}`

# Expected Result:

List of Zones.

[code]

# Actual Result:

[code]

[2018-04-18 23:53] jjasghar commented on #128
I’ll be attempting to repo this ASAP.  Updates when I have them.

[2018-07-10 05:58] NAshwini commented on #124
Hi @erictchiu,

This issue has been resolved in the latest ChefDK version. I have tested it with `chefDK 2.5.3` & `chefDK 3.0.36`.

Thanks,
Ashwini

[2018-07-31 21:09] #124 closed

[2018-09-27 23:15] tas50 commented on #127
We've bumped this dep in the latest ChefDK. You'll want to update to DK 3.3 and this should go away.

[2018-09-27 23:15] #127 closed

[2018-11-20 18:21] tas50 commented on #129
This should be fixed in 3.3.6, which will ship in the next DK / Workstation release.

[2018-11-20 18:21] #129 closed

[2019-04-30 08:35] NAshwini opened #144 "knife google server create fails while bootstrap to centos node"
# Version:

knife-google v3.3.7 and chef v15.0.238 on workstation

# Environment:

centos-7

# Scenario:

`knife google server create ash-instance-3 --gce-image centos-7-v20160219 --gce-machine-type n1-standard-1 --gce-public-ip ephemeral --ssh-user msys --identity-file C:\Users\msys\.ssh\id_rsa --gce_project "ash-account-project" --gce_zone "us-east1-c" -c "D:\chef-repo\.chef\knife.rb" --image-os

[2019-04-30 08:52] NAshwini commented on #144
I tried with `--connection-protocol` instead of `--bootstrap-protocol` as per https://github.com/chef/chef/blob/master/RELEASE_NOTES.md but in this case its says `Error: invalid option: --connection-protocol`

[2019-05-07 05:40] NAshwini commented on #144
This issue will be resolve by PR : https://github.com/chef/knife-windows/pull/480

[2019-05-08 07:49] NAshwini opened #145 "knife google server create fails for option --bootstrap-protocol and --image-os-type"
# Version:
knife-google v3.3.7 and chef v15.0.266 on workstation

# Environment:

centos-7

# Scenario:

```knife google server create ash-instance-3 --gce-image centos-7-v20160219 --gce-machine-type n1-standard-1 --gce-public-ip ephemeral --ssh-user msys --identity-file C:\Users\msys\.ssh\id_rsa --gce_project "ash-account-project" --gce_zone "us-east1-c" -c "D:\chef-repo\.chef\knife.rb" --image-o

[2019-05-08 10:21] NAshwini commented on #145
Its giving error for `host_key_verify`
# stacktrace
[code]

[2019-05-09 07:35] NAshwini commented on #145
With reference to this PR chef/chef#8494, This issue will be resolved by PR: https://github.com/chef/chef/pull/8506

[2019-05-09 09:58] NAshwini opened #146 "ssh-agent no key added issue while node bootstra."
# Version:

knife-google v3.3.7 and chef v15.0.266 on workstation

# Environment:

centos-7

# Scenario:

``` knife google server create ash-instance-3 --gce-image centos-7-v20160219 --gce-machine-type n1-standard-1 --gce-public-ip ephemeral --ssh-user msys --identity-file C:\Users\msys\.ssh\id_rsa --gce_project "ash-account-project" --gce_zone "us-east1-c" -c "D:\chef-repo\.chef\knife.rb" --image

[2019-05-09 10:01] NAshwini commented on #146
I have added the key `C:\Users\msys\.ssh\id_rsa` to my ssh-agent but still I am facing the same issue.
This is issue can be fixed by fixing the issue https://github.com/chef/chef/issues/8493

[2019-05-11 02:24] #145 closed

[2019-05-14 10:33] NAshwini opened #147 "SSH Authentication failed for root user which should be the user passed in --ssh-user."
# Version:

knife-google v3.3.7 and chef v15.0.293 on workstation

# Environment:

centos-7

# Scenario:
[code]

# Steps to Reproduce:

Please run above command to create the node from workstation.

# Expected Result:

It should create the instance in google account and bootstrap the node.

# Actual Result:
It create the instance in google account but fails during ssh by below error:
[code]

[2019-05-17 09:39] NAshwini commented on #147
For this issue we need to replace `--ssh-user` with `--connection-user` options with all other changed and new flag as per doc https://github.com/chef/chef/blob/master/RELEASE_NOTES.md#new-flags .

Meanwhile we can use this option in knife.rb file as we still have its support
eg: `knife[:ssh_user]` .

[2019-05-17 10:48] NAshwini opened #148 "Bootstrapping the node fails while running `sh /tmp/chef_7ObzwE/bootstrap.sh` for windows workstation"
# Version:

knife-google v3.3.7 and chef v15.0.298 on windows workstation

# Environment:

ubuntu 16 and centos-7

# Scenario:
[code]

# Steps to Reproduce:

Please run above command to create the node from workstation.

# Expected Result:

It should create the instance in google account and bootstrap the node.

# Actual Result:

It create the instance in google account and ssh establish on it but

[2019-05-20 13:18] NAshwini commented on #148
This same command works with `ubuntu` workstation for knife-google v3.3.7 and chef v15.0.300.
with PR changes https://github.com/chef/knife-cloud/pull/114 and https://github.com/chef/knife-cloud/pull/115

[2019-05-31 05:42] #147 closed

[2019-06-04 07:32] NAshwini commented on #148
This issue get fix by PR https://github.com/chef/chef/pull/8631 , Hence closing it

[2019-06-04 07:32] #148 closed

[2019-06-04 12:45] kapilchouhan99 opened #149 "knife google server create fails while bootstrap to windows node"
# Version:

knife-google v3.3.7 and chef v15.0.238 on workstation

# Environment:

Windows-2012-r2

# Scenario:

```knife google server create kpl-w-9 --gce_project "kapil-project" --gce_zone "us-east1-b" --connection-user kapil_chouhan -P "abc123456" --gce-image kpl-w-image --image-os-type windows --gce-machine-type n1-standard-2 --gce-boot-disk-size 60 --bootstrap_protocol winrm --gce-email kpl@

[2019-06-07 15:25] #144 closed

[2019-06-07 15:25] #146 closed

[2019-06-07 17:19] #149 closed

[2019-08-22 05:55] NAshwini commented on #128
Thanks @darkn3rd for raising issue. `Chefdk 2.5.3` is no more supported now as per https://docs.chef.io/versions.html#end-of-life-eol-products.
I tried same scenario with `ChefDK 3.9.0 and knife-google-3.3.7` its working fine.

Please let me know if same issue still persist.

[2019-08-22 06:11] Vasu1105 commented on #128
We are closing this issue as its fixed in new version of knife-google which is mentioned by @NAshwini please feel free to open it if issue still exist.

[2019-08-22 06:11] #128 closed

[2019-09-11 08:49] kapilchouhan99 commented on #126
Hi @mmcloud,
This is the expected behavior, you probably need to use `StrictHostKeyChecking no` in `~/.ssh/config` file.

[2019-09-13 11:41] kapilchouhan99 commented on #116
@nikolaybotevsc @qorpus Please try with the latest version of `knife-google`, it is already fixed in the latest version, I have verified it, it is working fine.
Please let me know if you face any issue.
Thank you.

[2019-09-16 10:17] kapilchouhan99 commented on #123
Hi @kadamwolfe, Please use the latest `knife-google` because `--node-ssl-verify-mode` option is moved on `chef 15`.

Please let me know if you are facing any issue.
Thank you.

[2019-09-17 17:21] #126 closed

[2019-09-17 17:21] tas50 commented on #126
Closing this out based on @kapilchouhan99's comment

[2019-09-24 06:54] kapilchouhan99 commented on #116
Fixed this issue in this PR: https://github.com/chef/knife-google/pull/119

[2019-09-24 06:54] #116 closed

[2019-09-25 16:32] #97 closed

[2019-09-30 11:24] kapilchouhan99 commented on #120
Hi @wallydrag, We have an option `--gce-additional-disks` to attach additional disks in an instance, in this option we pass disk names of additional disks with comma-separated.

example:
`knife google server create kpl-8 --gce-image centos-7-v20160219 --gce-machine-type n1-standard-1 --gce-public-ip ephemeral --ssh-identity-file /.ssh/id_rsa --gce_project "chef-msys" --gce_zone "us-central1-a" --c

[2019-10-10 02:33] #105 closed

[2019-10-10 13:29] shindemahendra commented on #120
@wallydrag
Please confirm we good to close this issue if it is not impacted now.

[2019-10-10 14:23] Vasu1105 commented on #120
We can close this for now. @wallydrag feel free to open this if you face any issues.

[2019-10-10 14:23] #120 closed

[2019-10-14 22:20] dependabot-preview[bot] opened #157 "Dependabot can't parse your Gemfile"
Dependabot couldn't parse the Gemfile found at `/Gemfile`.

The error Dependabot encountered was:

[code]

[2019-10-14 22:54] #157 closed

[2020-05-14 08:36] kapilchouhan99 opened #175 "Undefined method check_for_missing_config_values!"
# Steps to Reproduce:
- Whenever the user is running `knife google` commands, it was giving an error like `Exception: NoMethodError: undefined method check_for_missing_config_values!` so we have fixed this.
- knife google commands:
[code]
it is giving an error like this:
[code]

[2020-05-18 11:32] kapilchouhan99 opened #176 "Downloaded metadata file is corrupted"
# Steps to Reproduce:
- Wherever the user is trying to create a server and bootstrap it with this command:
[code]
so this command successfully created a server, but when it's trying to bootstrap, it is giving an error like this:
[code]

[2020-05-21 15:35] #175 closed

[2020-05-21 15:42] #176 closed

[2020-07-07 22:35] jdstone-ig commented on #108
This issue seems to have popped back up.  When I run
[code]
I receive the following error.  It appears as GCE image family names are not accepted.
[code]
When running `gcloud compute instances create --help` as suggested in this issue, `Image Aliases` no longer appear in the help information, only `image`, `image-family`, and `image-project`.

[2020-07-10 19:03] #108 closed

[2021-01-19 19:56] tas50 opened #200 "Migrate to the new Google API gems"
## Background

This project currently uses the monolithic google-api-client gem, which is 59 megs when installed. This gem ships with a massive amount of stuff we don't use or want to install on every workstation. Thankfully Google split the gem out, similar to the aws-sdk gems, and will only be supporting those new gems going foward.

## Work to Do
Google has produced a list of all the new gems h